* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
html,
body {
  height: 100%;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 30px;
  background-color: #BBADA0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.cartIcon {
  position: relative;
}

.cartCounter {
  position: absolute;
  left: 20px;
  top: -10px;
}

.home,
.cart {
  padding: 30px;
}

.bike {
  width: 300px;
  background-color: antiquewhite;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}

.bikeImage {
  width: 200px;
  height: 200px;
  background-color: #fff;
}

.bikeImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bikeDetails {
  margin-top: 30px;
}

.price {
  color: red;
}

.buyNow {
  width: 100%;
  height: 50px;
  background-color: cadetblue;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.noti-banner{
  height: 35px;
  background-color: #0B1D51;
  color: white;
  padding-top: 5px;
  padding-right: 5px;
  text-align: center;
  align-content: center;
  align-items: center;
}
#noti-close-icon{
  color: white;
  font-size: 18px;
  margin: 0;
  float: right;
  align-items: center;

}

.logo-search-box{
height: 50px;
background-color: #BBADA0;
}

.logo{
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: space-around;
}


input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.bottom-banner{
  height: 80px;
  background-color: #D1C6AD ;
  align-items: center;

  
}

.bottom-banner p{
color: white;
}

#app{
  margin: 0 auto;
  width: 500px;
  background-color: darkolivegreen;
}

#app{
  margin: 0 auto;
  width: 500px;
  background-color: grey;
}

a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}
